/* https://coolors.co/7be0ad-aee5d8-e7e5e5-e5d0e3-e0b0d5 */

body{
    /* background-image: linear-gradient(
        to right, rgb(201, 202, 177), rgb(247, 227, 237)
    ); */
    background-color: #fafafa;
    min-height: 100vh;
}

footer{
    background-color: rgb(242, 70, 47);
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    padding: 0.5%;
    font-size: 1.2rem;
}

#about-popup{
    height: 50vh;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 25vh; 
    left: 30vw;
    background-color: #111;
    overflow-x: hidden; 
    color: whitesmoke;
    opacity: 0;
    border-radius: 10px;
    padding: 2%;
    transition: opacity .5s; 
    font-size: 1.5rem;
    line-height: 2rem;
}

#about-popup p{
    position: relative;
    float: right;
}

#about-popup h1{
    position: relative;
    float: left;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(242, 70, 47);
}

#about-popup button{
    background-color: rgb(223, 53, 53);
    border-radius: 10px;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    float: right;
}

#about-popup a{
    color: aquamarine;
}

#popup-background{
    top: 0; 
    left: 0;
    height: 100%;
    width: 0;
    position: fixed;
    background-color: black;
    opacity: 0;
    z-index: -1;
    transition: opacity .5s; 
}

.info-header-box{
    /* float: left; */
    padding: 2%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    /* background-color: rgb(211, 236, 211); */
    font-size: 320%;
    width: max-content;
    font-weight: bold;
}

.info-image-background{
    margin: 0 auto;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 10px;
    background-size: cover;
    background-image:url("https://images.pexels.com/photos/4483610/pexels-photo-4483610.jpeg?cs=srgb&dl=pexels-tiger-lily-4483610.jpg&fm=jpg");
    width: 98%;
    height: 95vh;
}

.info-image-background-overlay{
    display: flex;
    border-radius: 10px;
    background-image: linear-gradient(to right, #E7E5E5 44%, rgba(255,0,0,0));
    width: 100%;
    height: 95vh;
    /* justify-content: center; */
    align-items: center;
}

.info-image-background-overlay-text{
    color: #c13812;
    font-size: 6rem;
    font-family:monospace;
    margin-left: 15%;
}

.info-image-background-overlay .btn {
    position: absolute;
    top: 5%;
    left: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #c91414;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.files-list{
    padding: 1%;
    margin: 0 auto;
    border-radius: 10px;
    /* background-color: honeydew; */
    width: 80%;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
}

.file{
    /* background-color: #AD8E5F; */
    background: linear-gradient(286deg, #AD8E5F 0%, #C1A985 100%);
    border-width: 4px;
    /* border-radius: 15px; */
    border-color: #111;
    margin-bottom: 1%;
    text-align: center;
    display: inline-block;
    padding: 1%;
    width: 45%;
}

.file form{
    display: inline-block;
}

.file h1{
    /* background-color: rgb(174, 174, 174); */
    margin: 1%;
    font-weight: bold;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 1%;
    padding: 1%;
    width: fit-content;
    text-wrap: wrap;
}

.file button{
    background-color: rgb(223, 73, 73);
    border-width: 6px;
    border-color: white;
    padding: 1%;
    font-weight: bold;
}

.file p{
    /* background-color: rgb(174, 174, 174); */
    margin: 1%;
    font-weight: bold;
    border-radius: 5px;
}

.upload-form{
    background-color: rgb(242, 70, 47);
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    width: 50%;
    text-align: center;
    border-width: 2px;
    border-radius: 15px;
    border-color: #111;
}

.upload-form input{
    background-color:white;
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    border-width: 2px;
    border-radius: 5px;
    border-color: #111;
    padding: 1%;
    font-size: 1.2rem;
}

.upload-form button{
    background-color:white;
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    border-width: 2px;
    border-radius: 5px;
    border-color: #111;
    padding: 1%;
    font-weight: bold;
}

.upload-form input[type="file"]{
    display: none;
}

.custom-file-upload {
    background-color:white;
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    border-width: 2px;
    border-radius: 5px;
    border-color: #111;
    padding: 1%;
    font-size: 1.2rem;
}