<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible", content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://static.vecteezy.com/system/resources/previews/009/398/915/original/storage-box-clipart-design-illustration-free-png.png">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/pc.css">
    <link rel="stylesheet" href="/app.css">
    <script src="/script.js"></script>
    <title>Vloz2</title>
</head>
<body>
    <div class="info-image-background">
        <div class="info-image-background-overlay">
            <button class="btn" onclick="openAboutPopup()">About</button>
            <h1 class="info-image-background-overlay-text">Vloz2</h1>
        </div>
    </div>

    <div id="about-popup">
        <button onclick="closeAboutPopup()">close</button>

        <p>Voluptate exercitation elit reprehenderit voluptate minim sint. Id incididunt in labore minim voluptate. Laboris eiusmod veniam ipsum non culpa adipisicing elit aliquip fugiat esse ipsum. Exercitation magna mollit dolore aliquip ea duis aliqua labore elit ullamco commodo. Et enim officia enim est aute cupidatat do.

In Lorem proident officia amet incididunt consectetur reprehenderit cupidatat aliqua eiusmod deserunt. Qui quis laborum sit incididunt aliqua. Ullamco quis proident tempor aliqua aute veniam quis tempor pariatur. Quis exercitation Lorem dolor sunt Lorem minim laboris.

Reprehenderit nisi duis ad enim qui commodo velit pariatur. Laborum sint ex ad voluptate quis in anim labore sit culpa laborum anim excepteur magna. Id do ipsum qui ad aliquip proident aliqua incididunt enim voluptate cupidatat esse. Aute amet ut fugiat enim aliqua aliquip aliquip veniam veniam id et consectetur irure.</p>
    </div>
    <div id="popup-background">

    </div>


    <div class="info-header-box">
        <h1>Nejaký nadpis</h1>
    </div>
    <hr>
    <!-- <div class="info-box">
        <p>
                
        </p>
    </div>
    <hr> -->
    <div class="files-list">
        <% for(var i=0; i < files.length; i++) { %>
            <div class="file">
                <p><%=files[i].filename%></p>
                <form action="/download/<%=files[i].filename%>" method="post", enctype="multipart/form-data">
                    <button type="submit">Download</button>
                </form>
                <form action="/delete/<%=files[i].filename%>" method="post", enctype="multipart/form-data">
                    <button type="submit">Delete</button>
                </form>
                <% var days = Math.floor((files[i].time_of_deletion-Date.now())/86400000) %>
                <% var hours = Math.floor((files[i].time_of_deletion-Date.now()-(days*86400000))/3600000) %>
                <% var minutes = Math.floor((files[i].time_of_deletion-Date.now()-(days*86400000)-(hours*3600000))/60000) %>
                <% var seconds = Math.floor((files[i].time_of_deletion-Date.now()-(days*86400000)-(hours*3600000)-(minutes*60000))/1000) %>
                <p>time left: <%=days%> days/<%=hours%> hours/<%=minutes%> minutes/<%=seconds%> seconds</p>
            </div>
         <% } %>
    </div>
    <hr>
    <br>
    <form action="/upload" method="post", enctype="multipart/form-data">
        <input type="file" name="files" multiple>
        <input type="number" placeholder="num of days" name="time_of_deletion">
        <button type="submit">upload</button>
    </form>
</body>
</html>