<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible", content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://static.vecteezy.com/system/resources/previews/009/398/915/original/storage-box-clipart-design-illustration-free-png.png">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/pc.css">
    <link rel="stylesheet" href="/app.css">
    <script src="/script.js"></script>
    <title>Vloz2</title>
</head>
<body>
    <div class="info-image-background">
        <div class="info-image-background-overlay">
            <button class="btn" onclick="openAboutPopup()">About 🛳️</button>
            <h1 class="info-image-background-overlay-text">Vloz2 📦</h1>
        </div>
    </div>

    <div id="about-popup">
        <h1>About Vloz2:</h1>
        <button onclick="closeAboutPopup()">X</button>
        <p>
            Vloz2 is an updated version of <a href="https://vlozto.pythonanywhere.com/">vlozto</a> which was created one year before this. 
            It was written in python with flask when I was learning to code. I wanted to recreate this using nodejs and express. I think it looks
            fine for a small website like this 😄. I am really happy if you like it. 
            <br>
            <br>
            The rules are simple, due to server's limited file storage (only 1GB) it is not meant for large files and for long time. 
            When you upload file put time of expiration (max is 30 days). After it expires it will be deleted permanently.
        </p>
    </div>

    <div id="popup-background"></div>

    <div class="info-header-box">
        <h1>Upload 📦 Here:</h1>
    </div>

    <form class="upload-form" action="/upload" method="post", enctype="multipart/form-data">
        <!-- <input class="file-input" type="file" name="files" multiple> -->
        <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Select Files
        </label>
        <input id="file-upload" type="file" name="files" multiple/>
        <input type="number" placeholder="num of days" name="time_of_deletion">
        <button type="submit">Upload 🚚</button>
    </form>

    <div class="info-header-box">
        <h1>Download 📦 Here:</h1>
    </div>

    <div class="files-list">
        <% for(var i=0; i < files.length; i++) { %>
            <div class="file">
                <h1><%=files[i].filename%></h1>
                <form action="/download/<%=files[i].filename%>" method="post", enctype="multipart/form-data">
                    <button type="submit">Download ⚓</button>
                </form>
                <form action="/delete/<%=files[i].filename%>" method="post", enctype="multipart/form-data">
                    <button type="submit">Delete 🗑️</button>
                </form>
                <% var days = Math.floor((files[i].time_of_deletion-Date.now())/86400000) %>
                <% var hours = Math.floor((files[i].time_of_deletion-Date.now()-(days*86400000))/3600000) %>
                <% var minutes = Math.floor((files[i].time_of_deletion-Date.now()-(days*86400000)-(hours*3600000))/60000) %>
                <% var seconds = Math.floor((files[i].time_of_deletion-Date.now()-(days*86400000)-(hours*3600000)-(minutes*60000))/1000) %>
                <p>Time left: <%=days%> days/<%=hours%> hours/<%=minutes%> minutes/<%=seconds%> seconds.</p>
            </div>
         <% } %>
    </div>

    <footer>
        <p>Website by Marek Lámoš (Heun11) - <a href="https://github.com/Heun11">GitHub</a> - <a href="https://www.instagram.com/mareklamos/">Instagram</a></p>
    </footer>
    
</body>
</html>